<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086852103381-mb06o67c6hmna97kar42nlkohkmtm1be.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086852103381-mb06o67c6hmna97kar42nlkohkmtm1be</string>
	<key>API_KEY</key>
	<string>AIzaSyDUZ43RplaWVRym5L7JYCYJoBvXJI6xCUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1086852103381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wafihasan.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-swh</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-swh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086852103381:ios:9802cd64d38d2782d2f65c</string>
</dict>
</plist>